extends layout

block content
    h1 Vacations
    each vacation, i in vacations
        .vacation
            h3 
                | #{vacation.name}
            p
                | #{vacation.description}
            if vacation.inSeason
                span.price
                    | #{vacation.price}
                a.btn.btn-default(href="/cart/add?sku=#{vacation.sku}")
                    | Buy Now!
            else
                span.outOfSeason
                    | We're sorry, this vacation is currently not in season.
                a(href="/notify-me-when-in-season?sku=#{vacation.sku}")
                    | Notify me when this vacation is in season.